
/**********************************************************Common******************************************************/

[nav-view-transition="ios"] [nav-view="entering"],
[nav-view-transition="ios"] [nav-view="leaving"] {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: transparent;
}

.platform-ios:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 64px; }
.platform-ios:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 19px !important; }
.platform-ios:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }
.platform-ios:not(.fullscreen) .tabs-top > .tabs, .platform-ios:not(.fullscreen) .tabs.tabs-top {
    top: 64px; }
.platform-ios:not(.fullscreen) .has-header, .platform-ios:not(.fullscreen) .bar-subheader {
    top: 64px; }
.platform-ios:not(.fullscreen) .has-subheader {
    top: 108px; }
.platform-ios:not(.fullscreen) .has-header.has-tabs-top {
    top: 113px; }
.platform-ios:not(.fullscreen) .has-header.has-subheader.has-tabs-top {
    top: 157px; }
.platform-ios .popover .bar-header:not(.bar-subheader) {
    height: 44px; }
.platform-ios .popover .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: -1px; }
.platform-ios .popover .bar-header:not(.bar-subheader) > * {
    margin-top: 0; }
.platform-ios .popover .has-header, .platform-ios .popover .bar-subheader {
    top: 44px; }
.platform-ios .popover .has-subheader {
    top: 88px; }
.platform-ios.status-bar-hide {
    margin-bottom: 20px; }

.platform-ios:not(.fullscreen) #loading-bar .bar {
    top: 64px;
}

@media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .bar {
        background: transparent;
    }
    .bar-header {
        border-bottom: 1px solid #e0e0e0;
    }
    .bar-footer {
        border-top: 1px solid #e0e0e0;
    }
    .bar-subheader {
        border: none;
    }
}

.button-clear.button-clear {
    color: #666;
}
.scroll-content {
    background: #F7F7F7;
}

.item-input {
    padding-right: 10px;
}
.item-input input {
    padding: 0 32px 0 6px;
}
.item-input input::-webkit-outer-spin-button,
.item-input input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    margin: 0;
}

.bar .button.button-block,
.bar .button.button-full {
    margin: 0;
}

.item-input .required-mark-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 14px;
    height: 100%;
    left: 2px;
    right: auto;
    color: red;
    font-size: 14px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.item-textarea-input {
    padding: 6px 10px 6px 16px;
}
.item-textarea-input > textarea {
    width: 100%;
    height: 50px;
    color: #111;
    background: #f8f8f8;
    resize: none;
}


.fade-in.ng-leave,
.fade-in > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms;
}
.fade-in.ng-leave-active,
.fade-in > .ng-leave-active {
    opacity: 0;
}

.mbsc-ios.mbsc-fr-bottom .mbsc-fr-overlay,
.mbsc-ios.mbsc-fr-top .mbsc-fr-overlay {
    background: rgba(0, 0, 0, 0.4);
}
.mbsc-sel .mbsc-sc-whl-w {
    width: 100%;
}
.mbsc-ios .mbsc-sc-whl-gr {
    padding: 0;
}
.mbsc-ios .mbsc-fr-btn {
    color: #35ccf9;
}
.mbsc-ios .mbsc-fr-btn-s .mbsc-fr-btn {
    font-weight: normal;
}
.mbsc-ios.mbsc-fr-bottom .mbsc-fr-popup {
    border-top-color: #ddd;
}
.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm,
.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm,
.mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm,
.mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm {
    text-align: center;
}

.mbsc-ios .mbsc-sc-itm.mbsc-btn-a {
    background: transparent;
}

.mbsc-ios.mbsc-sc.mbsc-fr-bottom .mbsc-fr-w,
.mbsc-ios.mbsc-sc.mbsc-fr-top .mbsc-fr-w {
    background: #fff;
}
.mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o,
.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o {
    background: linear-gradient(#fefefe, rgba(254,254,254,0) 52%, rgba(254,254,254,0) 48%,#fefefe);
}
.mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c,
.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    background: #f7f7f7;
}

.mbsc-ios .mbsc-sc-itm,
.mbsc-ios .mbsc-sc-whl-gr-3d .mbsc-sc-itm-3d {
    font-size: 18px;
}

/**********************************************************Common******************************************************/

/***********************************************************home*******************************************************/

.button-clear.btn-add {
    color: #35ccf9;
}

.doc-list .item {
    margin: 15px;
    padding: 0;
    border-radius: 6px;
}
.doc-list .item-line {
    position: relative;
    margin: 10px;
    color: #666;
}
.doc-list .item-line span + span {
    float: right;
}
.doc-list .item-line .doc-no {
    color: #000;
}
.doc-list .item-line .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 26px;
}
.doc-list .item-line .edit-icon {
    right: 35px;
}
.doc-list .item-line .delete-icon {
    right: 0;
    color: red;
}

/***********************************************************home*******************************************************/

/**********************************************************operate*****************************************************/


/**********************************************************operate*****************************************************/
