<ion-view view-title="{{data.title}}" class="operate-view">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="saveAccount()">保存</button>
    </ion-nav-buttons>
    <ion-content>
        <label class="item item-input item-icon-right">
            <i class="icon ion-ios-medical required-mark-icon"></i>
            <span class="input-label">单据类型</span>
            <input type="text" placeholder="请选择单据类型" ng-model="data.doc.DocumentType"
                mobiscroll-select="data.selectSetting" mobiscroll-data="data.DocumentType">
            <i class="icon ion-ios-arrow-right"></i>
        </label>
        <label class="item item-input">
            <i class="icon ion-ios-medical required-mark-icon"></i>
            <span class="input-label">借款金额</span>
            <span>CNY</span>
            <input type="number" placeholder="请输入借款金额" ng-model="data.doc.Money">
        </label>
        <label class="item item-input item-icon-right">
            <i class="icon ion-ios-medical required-mark-icon"></i>
            <span class="input-label">借款日期</span>
            <input type="text" placeholder="请选择日期" ng-model="data.doc.LoanDate" mobiscroll-datetime="datePick">
            <i class="icon ion-ios-arrow-right"></i>
        </label>
        <label class="item item-input item-icon-right">
            <i class="icon ion-ios-medical required-mark-icon"></i>
            <span class="input-label">借款人</span>
            <input type="text" placeholder="请选择借款人" ng-model="data.doc.LoanUser"
                mobiscroll-select="data.selectSetting" mobiscroll-data="data.ExpenditurePerson">
            <i class="icon ion-ios-arrow-right"></i>
        </label>
        <label class="item item-input item-icon-right">
            <i class="icon ion-ios-medical required-mark-icon"></i>
            <span class="input-label">借款部门</span>
            <input type="text" placeholder="请选择借款部门" ng-model="data.doc.Department"
                mobiscroll-select="data.selectSetting" mobiscroll-data="data.ExpenditureDepartment">
            <i class="icon ion-ios-arrow-right"></i>
        </label>
        <label class="item item-input item-icon-right">
            <span class="input-label">项目</span>
            <input type="text" placeholder="请选择项目" ng-model="data.doc.Project"
                mobiscroll-select="data.selectSetting" mobiscroll-data="data.Project">
            <i class="icon ion-ios-arrow-right"></i>
        </label>
        <label class="item item-textarea-input">
            <span class="input-label">用途</span>
            <textarea placeholder="请输入用途" ng-model="data.doc.Remark"></textarea>
        </label>
    </ion-content>
</ion-view>
